<launch>
    <machine name="base" address="MobyBase.local" user="mobyb" env-loader="/opt/ros/kinetic/env.sh"/>
    <machine name="pi" address="navio.local" user="pi" env-loader="/home/pi/catkin_ws/env.bash"/>
    <machine name="pi_root" address="navio.local" user="root" env-loader="/home/pi/catkin_ws/env.bash"/>


    <group ns="moby">
        <rosparam>
             geofence:
                 lat:
                     min: 45.5139707
                     max: 45.5139901
                 lon:
                     min: -122.6800915
                     max: -122.6899015
        </rosparam>
        <node pkg="moby" type="server.py" name="server" machine="pi" required="true" output="screen" cwd="node"/>
        
        <!-- run the PWM node with sudo because you need that to access PWMs for whatever reason -->
        <node pkg="moby" type="pwm.py" name="pwm_output" machine="pi_root" required="true" output="screen" cwd="node"/>
        
        <!-- run these for telemetry -->
        <node pkg="moby" type="barometer.py" name="baro" machine="pi" required="true" output="screen" cwd="node"/>
        <node pkg="moby" type="gps.py" name="gps" machine="pi" required="true" output="screen" cwd="node"/>
        <node pkg="moby" type="visualizer.py" name="visualizer" machine="base" required="true" output="screen" cwd="node"/>
    </group>
</launch>